section.about-us 
    .container
        .about-us-wrapper
            .about-us-quote 
                h2.about-us__title.title About Us
                p.about-us__description For more than 30 years we have been delivering world-class construction and we’ve built many lasting relationships along the way.
                p.about-us__description  We’ve matured into an industry leader and trusted resource for those seeking quality, innovation and reliability when building in the U.S.
                button.about-us__btn.btn.btn-wrapper More on Our History
