section.consultation
    .container.consultation-wrapper
        .consultation-description
            p.consultation-description__caption Free consultation with exceptional quality
            p.consultation-description__legend Just one call away: #[a(class="phone-number" href="tel:+84 1102 2703") +84 1102 2703] 
        button.consultation__btn.btn Get your consultation
