footer.footer#footer 
    .container.footer-wrapper
        .footer__item
            .company-contacts
                p.company-contacts__legend 
                    span.bold Address: 
                    span.bold Phone:
                    span.bold Email:
                p.company-contacts__legend 
                    span 6391 Elgin St. Celina, Delaware 10299
                    span +84 1102 2703
                    span hello@thebox.com
            a.logo.footer-logo
                .logo__icon
                    img(src="@img/logo.png")
                .logo__caption 
                    span.italic The
                    span Box
        .footer__item.company-media
            form(action="" class="form subscribe-form company-media__item")
                h3.subscribe-form__title.bold Newslatter: 
                .input-wrapper 
                    input(type="email" placeholder="Please type your email.." class="input subscribe-form__input")
                    input(type="submit" class="btn subscribe-form__btn" value="Subscribe")
            .company-media__item.social
                h3.social__title Social: 
                ul.social-menu
                    li.social-menu__item 
                        a(href="#" class="social-menu__link")    
                    li.social-menu__item 
                        a(href="#" class="social-menu__link")    
                    li.social-menu__item 
                        a(href="#" class="social-menu__link")     
    .copyright 
        p.copyright__description TheBox Company &copy; 2022. All Rights Reserved