header.header#header
    .container.header-wrapper 
        a.logo
            .logo__icon
                img(src="@img/logo.png")
            .logo__caption 
                span.italic The
                span Box
        nav.navigation 
            ul.navigation-wrapper 
                li.navigation__item
                    a.navigation__link(href="#1") Home
                li.navigation__item
                    a.navigation__link(href="#2") About Us
                li.navigation__item
                    a.navigation__link(href="#3") Projects
                li.navigation__item
                    a.navigation__link(href="#4") Services
                li.navigation__item
                    a.navigation__link(href="#5") Contact Us    
