section.projects
    .container
        h2.projects__title.title Projects 
        .projects-wrapper 
            ul.projects-nav 
                li.projects-nav__item.projects-nav__item--active All Projects
                li.projects-nav__item Project1
                li.projects-nav__item Project2
                li.projects-nav__item Project3 
            
            .projects-list 
                .projects-list-wrapper
                    .projects-list__item.project
                        .project__img.img-wrapper 
                            img(src="@img/IMG_5928.jpg" width="100%" height="100%" alt="Service Icon")
                        .project__description.project__description--wrapper
                            h3.project__caption Project1
                            p.project__legend Some address
                    .projects-list__item.project
                        .project__img.img-wrapper
                            img(src="@img/IMG_5928.jpg" width="100%" height="100%" alt="Service Icon") 
                        .project__description--wrapper
                            h3.project__caption Project2
                            p.project__legend Some address
                    .projects-list__item.project
                        .project__img.img-wrapper 
                            img(src="@img/IMG_5928.jpg" width="100%" height="100%" alt="Service Icon")
                        .project__description--wrapper
                            h3.project__caption Project3
                            p.project__legend Some address
                    .projects-list__item.project
                        .project__img.img-wrapper 
                            img(src="@img/IMG_5928.jpg" width="100%" height="100%" alt="Service Icon")
                        .project__description--wrapper
                            h3.project__caption Project4
                            p.project__legend Some address
                .projects-list__arrows.arrows
                    .arrows__item.arrow-left
                        span left
                    .arrows__item.arrow-right
                        span right
                ul.projects-list__toggles.toggles
                    li.toggles__item.toggles__item--active  
                    li.toggles__item 
                    li.toggles__item 
                    li.toggles__item 