section.reputation 
    .container
        h2.reputation__title.title Our Reputation 
        .reputation-list 
            .reputation-list__item
                .reputation-list__icon 
                    img(src="@img/reputation_icon.png", width="10%", alt="Icon Reputation")
                h3.reputation-list__caption Reputation Title
                p.reputation-list__description Cursus semper tellus volutpat aliquet lacus.
            .reputation-list__item
                .reputation-list__icon 
                    img(src="@img/reputation_icon.png", width="10%", alt="Icon Reputation")
                h3.reputation-list__caption Reputation Title
                p.reputation-list__description Cursus semper tellus volutpat aliquet lacus.
            .reputation-list__item
                .reputation-list__icon 
                    img(src="@img/reputation_icon.png", width="10%", alt="Icon Reputation")
                h3.reputation-list__caption Reputation Title
                p.reputation-list__description Cursus semper tellus volutpat aliquet lacus.
