section.services 
    .container
        h2.services__title.title Services
        .services-list
            .services-list__item.service
                .service__icon 
                    img(src="@img/services_construction.png" width="100%" alt="Service Icon")
                .service__caption Service 
            .services-list__item.service
                .service__icon 
                    img(src="@img/services_renovation.png" width="100%" alt="Service Icon")
                .service__caption Service 
            .services-list__item.service
                .service__icon 
                    img(src="@img/services_consultation.png" width="100%" alt="Service Icon")
                .service__caption Service 
            .services-list__item.service
                .service__icon 
                    img(src="@img/services_repair.png" width="100%" alt="Service Icon")
                .service__caption Service 
            .services-list__item.service
                .service__icon 
                    img(src="@img/services_architecture.png" width="100%" alt="Service Icon")
                .service__caption Service 
            .services-list__item.service
                .service__icon 
                    img(src="@img/services_electric.png" width="100%" alt="Service Icon")
                .service__caption Service 
