.slider
    .swiper-wrapper 
        .swiper-slide.card
        .swiper-slide.card
        .swiper-slide.card
        .swiper-slide.card
    
    .swiper-pagination
    .slider-button-prev 
    .slider-button-next 
    .slider-scrollbar
    