doctype html
html(lang="en")
    include templates/head
    body 
        include templates/header
        include templates/main
            //- img(src="@img/IMG_5928.jpg", width="30%", alt="Main Image")
        include templates/footer
        //- script(src="https://code.jquery.com/jquery-3.6.1.min.js")
        script(src="js/main.min.js")